html {
    background-color: #191919;
    font-family: Arial, Helvetica, sans-serif;
    color: #e5e5e5;
}

.board-container {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw;
    grid-template-rows: 15vh 15vh 15vh;
    margin: 15vh 38vw 5vh;

}

.space-0, .space-1, .space-2, .space-3, .space-4, .space-5 {
    border-bottom: 2px solid white;
}

.space-0, .space-1, .space-3, .space-4, .space-6, .space-7 {
    border-right: 2px solid white;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-left: 1vw;
}

.game-result {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 25px;
}